@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global overrides or custom styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to top, #0d9488, #ffffff);
  color: #1e293b;
}